<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hogworts 4.3% - Black IPA</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="bootstrap/css/grid.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

  <nav class="navbar-fixed-top">
      <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#" id="editButton">Edit</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
      </ul>
  </nav>

  <div class="container">

      <div class="header row">
          <div class="col-md-1">Name</div>
          <div class="col-md-1">Style</div>
          <div class="col-md-1">OG</div>
          <div class="col-md-1">FG</div>
          <div class="col-md-1">Efficiency</div>
          <div class="col-md-1">SRM</div>
          <div class="col-md-1">IBUs</div>
          <div class="col-md-1">ABV</div>
          <div class="col-md-1">Boil</div>
          <div class="col-md-1">Yeast</div>
          <div class="col-md-1">Size</div>
          <div class="col-md-1">Date</div>

      </div>

      <div class="data row">
          <form role="form">

          <div class="col-md-1"><input type="text" class="form-control" value="Hogworts"></div>
          <div class="col-md-1"><input type="text" class="form-control" value="Black IPA"></div>
          <div class="col-md-1">1.033</div>
          <div class="col-md-1">1.01</div>
          <div class="col-md-1">70%</div>
          <div class="col-md-1">11.1</div>
          <div class="col-md-1">33</div>
          <div class="col-md-1">4.3%</div>
          <div class="col-md-1">60 minutes</div>
          <div class="col-md-1"><input type="text" class="form-control" value="2 Gen WLP002"></div>
          <div class="col-md-1">2.5G</div>
          <div class="col-md-1">Aug 9, 2015</div>
</form>
      </div>

      <div class="header row">
          <div class="col-md-1 temperature"><h6>Mash Temp</h6></div>
          <div class="col-md-1 temperature"><h6>Mash Time</h6></div>
          <div class="col-md-1 temperature"><h6>Ferm Temp</h6></div>
      </div>

      <div class="data row">
          <div class="col-md-1 temperature"><h6>158F</h6></div>
          <div class="col-md-1 temperature"><h6>60 min</h6></div>
          <div class="col-md-1 temperature"><h6>18C</h6></div>
      </div>

      <div class="header row">
          <div class="col-md-3">Hops</div>
          <div class="col-md-3">Oz</div>
          <div class="col-md-3">Time</div>
          <div class="col-md-3">Type</div>
      </div>

      <div class="data row">
          <div class="col-md-3">Fuggles</div>
          <div class="col-md-3">.25</div>
          <div class="col-md-3">60</div>
          <div class="col-md-3">Boil</div>
      </div>

      <div class="data row">
          <div class="col-md-3">CTZ</div>
          <div class="col-md-3">1</div>
          <div class="col-md-3">0</div>
          <div class="col-md-3">Flame Out</div>
      </div>


      <div class="header row">
          <div class="col-md-4">Fermentables</div>
          <div class="col-md-2">Lbs (7.5lbs)</div>
          <div class="col-md-2">Percent</div>
          <div class="col-md-4">Note</div>
      </div>

      <div class="data row">
          <div class="col-md-4">Maris Otter</div>
          <div class="col-md-2">3</div>
          <div class="col-md-2">25%</div>
      </div>

      <div class="data row">
          <div class="col-md-4">Munich</div>
          <div class="col-md-2">3</div>
          <div class="col-md-2">25%</div>
      </div>

      <div class="data row">
          <div class="col-md-4">Fruit Puree</div>
          <div class="col-md-2">1</div>
          <div class="col-md-2">10%</div>
          <div class="col-md-4"><input type="text" class="form-control" value="Added to secondary for 3 weeks @ 18C"></div>
      </div>

      <div class="data row">
          <div class="col-md-4">Brown Sugar</div>
          <div class="col-md-2">.5</div>
          <div class="col-md-2">5%</div>
          <div class="col-md-4">Added @ day 6 in primary</div>
      </div>

      <div class="header row">
          <div class="col-md-4">Other Ingredient</div>
          <div class="col-md-4">Amount</div>
          <div class="col-md-4">Note</div>
      </div>

      <div class="data row">
          <div class="col-md-4">Oak Chips</div>
          <div class="col-md-4">2</div>
          <div class="col-md-4">Done @ day 6 in primary then removed 2 weeks later.</div>
      </div>

      <div class="data row">
          <div class="col-md-4">Whirlfloc</div>
          <div class="col-md-4">1 Tab</div>
          <div class="col-md-4">Flame out</div>
      </div>

      <div class="data row">
          <div class="col-md-4">Yeast Nutrient</div>
          <div class="col-md-4">2.5 Grams</div>
          <div class="col-md-4">Flame out</div>
      </div>

      <div class="header row">
          <div class="col-md-8">Notes</div>
          <div class="col-md-4">Date</div>
      </div>

      <div class="data row">
          <div class="col-md-8">This beer was aged in secondary for a total of 2 weeks at 5C after a 2 week primary.
              It has finished quite quite clear and bronze in color. Light hop taste with hints of sweetness from the
              fruit.
              Brown sugar no different than normal cane sugar.
          </div>
          <div class="col-md-4">Aug 8th, 2015</div>
      </div>

      <div class="data row">
          <div class="col-md-8">Now even more mellow in flavour, and despite 1oz of CTZ at flame out, no hop character
              is descernable. Also, oak flavouring is only barely detectable.
          </div>
          <div class="col-md-4">September 9th, 2015</div>
      </div>

      <!-- Images -->
      <div class="header row">
          <div class="col-md-12">Images</div>
      </div>

      <div class="row">
          <div class="col-md-2">
              <div class="thumbnail">
                  <a href="beer.jpg">
                      <img src="beer.jpg">
                  </a>

                  <div class="caption">
                      <h3>Beer Pix</h3>

                      <p>Here we have beer</p>
                  </div>
              </div>
          </div>
          <div class="col-md-2">
              <div class="thumbnail">
                  <a href="beer.jpg">
                      <img src="beer.jpg">
                  </a>

                  <div class="caption">
                      <h3>Beer Pix</h3>

                      <p>Here we have beer</p>
                  </div>
              </div>
          </div>
      </div>

      <!-- Video -->
      <div class="header row">
          <div class="col-md-12">Videos</div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <video class="embed-responsive-item" controls>
                          <source src="foo.mp4" type="video/mp4">
                      </video>
                  </div>
                  <div class="caption">
                      <h3>A hoy hoy</h3>

                      <p>infoz</p>
                  </div>

              </div>
          </div>
          <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <video class="embed-responsive-item" controls>
                          <source src="foo.mp4" type="video/mp4">
                      </video>
                  </div>
                  <div class="caption">
                      <h3>A hoy hoy</h3>

                      <p>infoz</p>
                  </div>

              </div>
          </div>
      </div>


  </div>

</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bootstrap/js/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script>
    $("#editButton").on("click", function(){
        var column_items = $("div[class^='col-']");
        for(var i=0; i < column_items.length; i++){
            var item = column_items[i];

        }
    })

    </script>

  </body>
</html>