<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ beer.name }} {{ beer.abv }} - {{ beer.style }}</title>

    <!-- Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap/css/grid.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

  <nav class="navbar-fixed-top">
      <ul class="nav nav-tabs">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="button" class="active"><a href="" id="save_link">Save</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
      </ul>
  </nav>

  <div class="container">

  <form role="form" id="save_form" action="" method="post">
      <div class="header row">
          <div class="col-md-1">Name</div>
          <div class="col-md-1">Style</div>
          <div class="col-md-1">OG</div>
          <div class="col-md-1">FG</div>
          <div class="col-md-1">Efficiency</div>
          <div class="col-md-1">SRM</div>
          <div class="col-md-1">IBUs</div>
          <div class="col-md-1">ABV</div>
          <div class="col-md-1">Boil</div>
          <div class="col-md-1">Yeast</div>
          <div class="col-md-1">Size</div>
          <div class="col-md-1">Date</div>

      </div>

      <div class="data row">
              <div class="col-md-1"><input type="text" class="form-control" name="name" value="{{ beer.name }}"></div>
              <div class="col-md-1"><input type="text" class="form-control" name="style" value="{{ beer.style }}"></div>
              <div class="col-md-1"><input type="text" class="form-control" name="og" value="{{ beer.og }}"></div>
              <div class="col-md-1"><input type="text" class="form-control" name="fg" value="{{ beer.fg }}"></div>
              <div class="col-md-1"><input type="text" class="form-control" name="efficiency" value="{{ beer.efficiency }}"></div>
              <div class="col-md-1"><input type="text" class="form-control" name="srm" value="{{ beer.srm }}"></div>
              <div class="col-md-1"><input type="text" class="form-control" name="ibus" value="{{ beer.ibus }}"></div>
              <div class="col-md-1"><input type="text" class="form-control" name="abv" value="{{ beer.abv }}"></div>
              <div class="col-md-1"><input type="text" class="form-control" name="boil_time" value="{{ beer.boil_time }}"></div>
              <div class="col-md-1"><input type="text" class="form-control" name="yeast" value="{{ beer.yeast }}"></div>
              <div class="col-md-1"><input type="text" class="form-control" name="batch_size" value="{{ beer.batch_size }}"></div>
              <div class="col-md-1"><input type="text" class="form-control" name="date" value="{{ beer.date.strftime('%x') }}"></div>
      </div>

      <div class="header row">
          <div class="col-md-1 temperature"><h6>Mash Temp</h6></div>
          <div class="col-md-1 temperature"><h6>Mash Time</h6></div>
          <div class="col-md-1 temperature"><h6>Ferm Temp</h6></div>
      </div>

      <div class="data row">
          <div class="col-md-1 temperature"><h6><input type="text" class="form-control" name="mash_temperature" value="{{ beer.mash_temperature }}"></h6></div>
          <div class="col-md-1 temperature"><h6><input type="text" class="form-control" name="mash_time" value="{{ beer.mash_time }}"></h6></div>
          <div class="col-md-1 temperature"><h6><input type="text" class="form-control" name="fermentation_temperature" value="{{ beer.fermentation_temperature }}"></h6></div>
      </div>

      <div class="header row" id="hops_header">
          <div class="col-md-3">Hops</div>
          <div class="col-md-3">Oz</div>
          <div class="col-md-3">Time</div>
          <div class="col-md-3">Type</div>
      </div>

      {% for hop in beer.hops|sort(attribute='time') %}
          <div class="data row hops">
              <div class="col-md-3"><input type="text" class="form-control" name="hop" value="{{ hop.name }}"></div>
              <div class="col-md-3"><input type="text" class="form-control" name="hop" value="{{ hop.oz }}"></div>
              <div class="col-md-3"><input type="text" class="form-control" name="hop" value="{{ hop.time }}"></div>
              <div class="col-md-3 non_editable_column_hops">
                  <select form="save_form" name="hop">
                      <option value="Boil" {% if hop.type == 'Boil' %} selected {% endif %}>Boil</option>
                      <option value="Dryhop" {% if hop.type == 'Dryhop' %} selected {% endif %}>Dryhop</option>
                      <option value="FWH" {% if hop.type == 'FWH' %} selected {% endif %}>FWH</option>
                      <option value="Flame Out" {% if hop.type == 'Flame Out' %} selected {% endif %}>Flame Out</option>
                  </select>
                  <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-minus row-remove" aria-hidden="true"></span>
                  </button>
              </div>
          </div>
      {% endfor %}

      <div class="row">
          <div class="col-md-2 buttongroup">
              <button id="addhop" type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
          </div>
      </div>


      <div class="header row fermentable_header">
          <div class="col-md-4">Fermentables</div>
          <div class="col-md-2">Lbs ({{ fermentables['total'] }} lbs)</div>
          <div class="col-md-2">Percent</div>
          <div class="col-md-4">Note</div>
      </div>

      {% for fermentable in fermentables['items'] %}

          <div class="data row fermentables">
              <div class="col-md-4"><input type="text" class="form-control" name="fermentable" value="{{ fermentable[1].name }}"></div>
              <div class="col-md-2"><input type="text" class="form-control" name="fermentable" value="{{ fermentable[1].lbs }}"></div>
              <div class="col-md-2 non_editable_column">{{ fermentable[0] }}</div>
              <div class="col-md-4 form-inline">
                  <input type="text" class="form-control" name="fermentable" value="{{ fermentable[1].note }}">
                  <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-minus row-remove" aria-hidden="true"></span>
                  </button>
              </div>
          </div>

      {% endfor %}

      <div class="row">
          <div class="col-md-2 buttongroup">
              <button id="addfermentable" type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
          </div>
      </div>

      <div class="header row" id="oingredients_header">
          <div class="col-md-4">Other Ingredient</div>
          <div class="col-md-4">Amount</div>
          <div class="col-md-4">Note</div>
      </div>

      {% for other_ingredient in beer.other_ingredients %}

          <div class="data row oingredients">
              <div class="col-md-4"><input type="text" class="form-control" name="oingredient" value="{{ other_ingredient.name }}"></div>
              <div class="col-md-4"><input type="text" class="form-control" name="oingredient" value="{{ other_ingredient.amount }}"></div>
              <div class="col-md-4 form-inline">
                  <input type="text" class="form-control" name="oingredient" value="{{ other_ingredient.note }}">
                  <button type="button" class="btn btn-default btn-xs">
                      <span class="glyphicon glyphicon-minus row-remove" aria-hidden="true"></span>
                  </button>
              </div>
          </div>

      {% endfor %}

      <div class="row">
          <div class="col-md-2 buttongroup">
              <button id="addoingredient" type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
          </div>
      </div>

      <div class="header row" id="notes_header">
          <div class="col-md-8">Notes</div>
          <div class="col-md-4">Date</div>
      </div>

      {% for note in beer.notes|sort(attribute='date') %}

          <div class="data row notes">
              <div class="col-md-8"><textarea name="notes" rows="5" class="form-control">{{ note.text }}</textarea></div>
              <div class="col-md-4 form-inline ">
                  <input class="form-control" type="text" name="notes" value="{{ note.date.strftime('%x') }}">
                  <button type="button" class="btn btn-default btn-xs">
                      <span class="glyphicon glyphicon-minus row-remove" aria-hidden="true"></span>
                  </button>
              </div>
          </div>

      {% endfor %}

      <div class="row">
          <div class="col-md-2 buttongroup">
              <button id="addnote" type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
          </div>
      </div>

      <!-- Images -->
      <div class="header row" id="images_header">
          <div class="col-md-12">Images</div>
      </div>


      <div class="row images">
      {% for image in beer.images %}
          <div class="col-md-2">
              <div class="thumbnail">
                  <a href="{{ image.path }}">
                      <img src="{{ image.path }}">
                  </a>

                  <div class="caption">
                      <p>{{ image.note }}</p>
                  </div>
                  <div class="col-md-2 buttongroup">
                      <button type="button" class="btn btn-default btn-xs">
                          <span class="glyphicon glyphicon-minus img-remove" aria-hidden="true"></span>
                      </button>
                  </div>
              </div>
          </div>
      {% endfor %}
      </div>


      <div class="row">
          <div class="col-md-2 buttongroup">
              <input type="file" id="fileElem" multiple accept="image/*" style="display:none" onchange="file_upload(this.files[0])">
              <button type="button" class="btn btn-default btn-sm" id="fileSelect">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
          </div>
      </div>

      <!-- Video -->
      <div class="header row">
          <div class="col-md-12">Videos</div>
      </div>

      {% if not beer.videos %}

          <div class="row">
          {% for video in beer.videos %}
              <div class="col-md-6">
                  <div class="thumbnail">
                      <div class="embed-responsive embed-responsive-16by9">
                          <video class="embed-responsive-item" controls>
                              <source src="{{ video.path }}" type="video/mp4">
                          </video>
                      </div>
                      <div class="caption">
                          <p>{{ video.note }}</p>
                      </div>

                  </div>
              </div>
          {% endfor %}
          </div>
      {% endif %}

</form>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/bootstrap/js/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/actions.js"></script>

  </body>
</html>